.container{
    display: flex;
    border-radius: px solid black;
    flex-flow: column;
    margin: 1vh;
}
.innerDiv{
    border: 1px solid black;
    padding: 1vh 1vw;
    border-radius: 2vh;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.68);
    
}
.bottom{
    display: flex;
    justify-content: flex-end;
}
.dtime{
    margin: 0vw 1vw;
    font-size: 0.8rem;
}